{% extends "base.html" %}
{% load rest_framework %}
{% load bootstrap5 %}



{% block content %}
<div>
<div class="container text-center">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3">Тут будет какой-то текст</div>
    </div>
    <div class="col-6">
      <div class="p-3">Тут будет какая-то картинка</div>
    </div>
    <div class="col-6">
      <div class="p-3">Тут будет какой-то другой текст</div>
    </div>
    <div class="col-6">
      <div class="p-3">Тут будет какая-то другая картинка</div>
    </div>
      <div class="col-6">
      <div class="p-3">Возможно будет что-то ещё</div>
    </div>
    <div class="col-6">
      <div class="p-3">... а может и нет</div>
    </div>
  </div>
</div>
</div>
{% endblock %}







