/venv/
/project/db.sqlite3
/project/client/migrations/0001_initial.py
/project/client/migrations/0002_client_created.py
/project/client/migrations/0003_client_phone_number_alter_client_building_and_more.py
/project/client/migrations/0004_alter_client_work_end_time_and_more.py
/project/client/migrations/0005_alter_client_geolocation.py
/project/client/migrations/0006_remove_client_created_remove_client_work_end_time_and_more.py
/project/registration/migrations/0001_initial.py
/project/registration/migrations/0002_alter_user_date_joined.py
/project/registration/migrations/0003_alter_user_profile_photo.py
/project/registration/migrations/0004_alter_user_profile_photo.py
/project/registration/migrations/0005_alter_user_profile_photo.py
/project/registration/migrations/0006_alter_user_profile_photo.py
/project/registration/migrations/0007_alter_user_profile_photo_alter_user_role.py
/project/registration/migrations/0008_alter_user_position_alter_user_profile_photo.py
/project/registration/migrations/0009_profile.py
/project/registration/migrations/0010_delete_profile.py
/project/.r/
/project/registration/migrations/0011_alter_user_managers_remove_user_position_and_more.py
/project/client/migrations/0007_remove_client_building_remove_client_city_and_more.py
/project/registration/data.txt
/project/registration/migrations/0002_remove_user_avatar_remove_user_created_and_more.py
/project/registration/migrations/0003_user_position_user_profile_photo.py
/project/registration/static/profile_images/
