{% extends "base.html" %}
{% load rest_framework %}
{% load bootstrap5 %}

{% block content %}

{% for message in messages %}
<div class="alert alert-secondary" role="alert" xmlns:route="http://www.w3.org/1999/xhtml"
     xmlns:route="http://www.w3.org/1999/xhtml">
    {{message}}
</div>
{% endfor %}

<div class="container align-items-center vstack gap-3 py-3">
    {% csrf_token %}
    {% for obj in client_obj %}
    <div class="card w-50">
        <div class="col-md-auto">
            <div class="card-body border-bottom">
                <h5 class="card-title text-center">Контрагент: {{ client_name.organisation_name }}</h5>
                <p class="card-text text-center border-bottom">
                    <a href="tel:+375{{ obj.phone }}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        +375{{ obj.phone }}
                    </a>
                </p>
                <h6 class="card-text">Страна: {{ obj.country }}</h6>
                <h6 class="card-text">Город: {{ obj.city }}</h6>
                <h6 class="card-text">Улица: {{ obj.street }}</h6>
                <h6 class="card-text">Дом/строение: {{ obj.building }}</h6>
            </div>
            <form method="post" action="{% url 'cart_add' obj.id %}">
                {{ cart_product_form }}
                {% csrf_token %}
                <div class="d-flex m-3 justify-content-end">
                    <input type="submit" class="btn btn-outline-primary" value="Добавить в маршрут">
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<footer>
    <div class="container py-4 row-cols-2 d-flex flex-wrap align-items-center text-center border-top fixed-bottom">
        <div class="col text-start">
            <p class="col-md-4 mb-0 text-muted">© 2024 Company, Inc</p>
        </div>
        <div class="col text-end">
            <a href="/registration/home" class="nav-link px-2 text-muted">О нас</a>
        </div>
    </div>
</footer>

{% endblock %}
