{% extends "base.html" %}
{% load rest_framework %}
{% load bootstrap5 %}

{% block content %}

{% for message in messages %}
<div class="alert alert-secondary" role="alert">
    {{message}}
</div>
{% endfor %}

<div class="container py-4 row-cols-1 d-flex flex-wrap align-items-center justify-content-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Контрагент</th>
          <th scope="col">Телефон</th>
          <th scope="col">Объекты</th>
        </tr>
      </thead>
      <tbody>
          {% csrf_token %}
          {% for client in clients %}
        <tr>
          <th scope="row">{{ client.id }}</th>
          <td>{{ client.organisation_name }}</td>
          <td>
              <p><a href="tel:+375{{ client.phone }}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">+375{{ client.phone }}</a></p>
          </td>
          <td><a class="btn btn-outline-primary" href="{{ client.get_absolute_url }}">Объекты клиента</a></td>
        </tr>
          {% endfor %}
      </tbody>
    </table>
</div>

<footer>
    <div class="container py-4 row-cols-2 d-flex flex-wrap align-items-center text-center border-top fixed-bottom">
        <div class="col text-start">
            <p class="col-md-4 mb-0 text-muted">© 2024 Company, Inc</p>
        </div>
        <div class="col text-end">
            <a href="/registration/home" class="nav-link px-2 text-muted">О нас</a>
        </div>
    </div>
</footer>

{% endblock %}
