{% extends "base.html" %}
{% load rest_framework %}
{% load bootstrap5 %}

{% block content %}

{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}

<div class="container my-3 py-3">
    <div class="row">
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <div class="card" id="basic-info">
                    <div class="card-header mt-0">
                        <h5>Новый клиент</h5>
                    </div>
                    <div class="card-body pt-0">
                        <form role="form" method="POST" autocomplete="off">
                            <div class='row mt-2'>
                                {% csrf_token %}
                                {% render_form serializer %}
                            </div>
                            <button class="btn btn-outline-success btn-md float-end mt-2 mb-0 mx-2" type="submit">Сохранить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container py-4 row-cols-2 d-flex flex-wrap align-items-center text-center border-top fixed-bottom">
        <div class="col text-start">
            <p class="col-md-4 mb-0 text-muted">© 2024 Company, Inc</p>
        </div>
        <div class="col text-end">
            <a href="/registration/home" class="nav-link px-2 text-muted">О нас</a>
        </div>
    </div>
</footer>

{% endblock %}
