{% extends "base.html" %}
{% load rest_framework %}
{% load bootstrap5 %}
{% block content %}
    {% for message in messages %}
<div class="alert alert-secondary" role="alert">
  {{message}}
</div>
{% endfor %}
<div class="container my-3 py-3">
    <div class="row">
        <div class="row justify-content-md-center">
          <div class="col-lg-6">
              <div class="card" id="basic-info">
                  <div class="card-header mt-0">
                      <h5>Профиль клиента</h5>
                  </div>
                  <div class="card-body pt-0">
                      <form role="form" method="POST" autocomplete="off">
                          <div class='row mt-2'>
                              {% csrf_token %}
                              {% render_form serializer %}
                          </div>
                          <button class="btn btn-success btn-md float-end mt-2 mb-0 mx-2" type="submit">Сохранить</button>
                      </form>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}