header {
    font-family: "Open Sans", sans-serif;
    background: url(images/header_footer.jpg);
    font-weight: <weight>;
}

body {
    font-family: "Open Sans", sans-serif;
    background: url(images/body.png);
}

.content {
    font-family: "Open Sans", sans-serif;

}

footer {
    font-family: "Open Sans", sans-serif;
    background: url(images/header_footer.jpg);
}
