{% extends "base.html" %}
{% load rest_framework %}
{% load bootstrap5 %}

{% block content %}
<div class="d-flex justify-content-center">
    <table class="table table-hover m-4 align-middle w-75">
        <thead>
        <tr>
            <th scope="col" class="text-center">Автор</th>
            <th scope="col" class="text-center">Дата</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for route in data %}
            <tr>
            <td class="text-center">{{ route.email }}</td>
            <td class="text-center">{{ route.created }}</td>
            <td>
                <div class="d-flex justify-content-center">
                    <a href="{{ route.get_absolute_url }}" class="btn btn-outline-primary">Детали заказа</a>
                </div>
            </td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
</div>

<footer>
    <div class="container py-4 row-cols-2 d-flex flex-wrap align-items-center text-center border-top fixed-bottom">
        <div class="col text-start">
            <p class="col-md-4 mb-0 text-muted">© 2024 Company, Inc</p>
        </div>
        <div class="col text-end">
            <a href="/registration/home" class="nav-link px-2 text-muted">О нас</a>
        </div>
    </div>
</footer>

{% endblock %}
